{% extends "layout.html" %}

{% block title %}
    Simulator
{% endblock %}

{% block main %}
<main>
    <div class="simulation-info">
        <h2>Blackjack Strategy Simulator</h2>
        <p>
            This tool simulates thousands of blackjack hands to compare three playing strategies over time: the Optimal Strategy (following the strategy tables),
            the Dealer's Strategy (hitting below 17, standing otherwise), and a Random Strategy (choosing actions arbitrarily)
        </p>
        <p>To evaluate their performance, the simulation tracks two main metrics:</p>
        <ul>
            <li>Wins, loses, and draws, recorded on a per-round basis.</li>
            <li>Net Units, to represent the running profit or loss measured in base bet units, showing long-term performance independent of bet size.</li>
        </ul>
        <p>
            As expected, even the Optimal Strategy shows a slight long-term loss due to the house edge.
            However, it consistently outperforms the Dealer's and Random strategies, demonstrating that mathematically optimal play minimizes losses over time.
        </p>
    </div>
    <div class="simulation-container">
        <div class="input-container">
            <label for="NInput">Number of rounds: </label>
            <input type="number" id="NInput" value="300" min="1" max="100000" >
        </div>
        <button class="run-button" id="runButton">Run Simulator</button>
        <p class="loading-text" id="loadingText">Running simulator...</p>

        <div class="simulation-results">
            <div class="chart-block">
                <h3>Units Evolution</h3>
                <canvas id="evolutionChart"></canvas>
            </div>

            <div class="chart-block">
                <h3>Final Results</h3>
                <canvas id="resultsChart"></canvas>
            </div>

            <div class="chart-block">
                <h3>Numerical Analysis</h3>
                <table class="summary-table" id="ResultsTable">
                    <thead>
                        <tr>
                            <th>Strategy</th>
                            <th>Wins</th>
                            <th>Losses</th>
                            <th>Draws</th>
                            <th>Net Units</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/simulator.js') }}"></script>
{% endblock %}
